# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
*.test
*.out
go.work

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Documentation
*.md
LICENSE
